body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(242, 190, 255);
    font-family: 'Archivo Black', sans-serif;
}

button {
    font-family: 'Archivo Black', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.game-msg, .win-msg, .reset-button {
    display: none;
}

.alert-msg {
    font-size: 0.8rem;
}