body {
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(242, 190, 255);
    font-family: 'Archivo Black', sans-serif;
}

button {
    font-family: 'Archivo Black', sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid 0.5px black;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.game-ui {
    width: 300px;
    height: 151px;
}

input[type="text"] {
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 225, 251);
}

input[type="text"]:focus {
    outline: solid 2px rgb(131, 78, 145);
}

input[type="radio"] {
    appearance: none;
    font: inherit;
    background-color: rgb(246, 225, 251);
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: rgb(131, 78, 145);
    outline: 2px solid rgb(246, 225, 251);
}

.player-1-name {
    margin-bottom: 10px;
}

.start-button {
    margin: 10px 0px;
}

.reset-button {
    margin-top: 10px;
}

.start-button, .reset-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 225, 251);
    padding: 3px 8px;
}

.game-msg, .win-msg, .reset-button {
    display: none;
}

.alert-msg {
    font-size: 0.8rem;
}